<div class="card-container">
<ul class="card-field">
    {{#each this}}
<li class="card-item">
              <div class="img-container">
                <img
                  src="{{imageUrls}}"
                  alt="{{description}}"
                  data-id="{{id}}" 
                />
                <button type="button" class="favorite">
                  <svg width="16px" height="16px" class="favorite-icon">
                    <use href="./symbol-defs.svg#icon-contured-heart"></use>
                  </svg>
                </button>
                <button type="button" class="full-screen">
                  <svg width="11px" height="11px" class="full-screen-icon">
                    <use href="./symbol-defs.svg#icon-full-screen"></use>
                  </svg>
                </button>
              </div>
              <p class="product-title">{{title}}</p>
              <p class="price">
                {{oldPrice}} грн<span lass="hot-Price"> <b>{{price}}грн</b> </span>
              </p>
            </li>
            {{/each}}
          </ul>
</div>